button {
    width:70px;
    height:30px;
    margin: 2px;
    border: none;
  }
  .btn-primary {
    width:48%;
    height:30px;
  }
  .btn-danger {
    width:48%;
    height:30px;
    text-align: center;
  }
  table{
    background-color: rgb(117, 238, 198);
    text-align: center;
    border: 2px;
  }


input{
    margin: 5px;
    width:98%
}
